@layout('layouts/main')
@set('title', 'Home page')

@section('body')

<main>
  <div>
    <h1>welcome brah</h1>
    <button class="bg-blue-500
        hover:bg-blue-700
        text-white
        font-bold
        py-2
        px-4
        rounded
        focus:outline-none
        focus:shadow-outline
      " onclick="location.href='/login'">Login</button>
  </div>
</main>

@end