{{--  @each(file in files)
  <li> {{ JSON.stringify(file) }} </li>
@end  --}}



@each(file in files)
<div>
    {{JSON.stringify(file)}}
  {{--  <img src="{{url}}" alt="Girl in a jacket" width="500" height="600">   --}}
</div>
@end

