<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body class="mx-auto text-white bg-slate-400 dark:bg-slate-800">
  @!section('body')
</body>
</html>